<!DOCTYPE html>
<html lang="en" xmlns="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404-CanCanWorld</title>
    <link rel="stylesheet" href="./css/vuetify.min.css">
    <link rel="stylesheet" href="./css/materialdesignicons.min.css">
    <link rel="stylesheet" href="./css/Material+Icons.css">
    <link rel="stylesheet" href="./css/fontawesome.css">
    <link rel="stylesheet" href="./css/main.css">
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@5.x/css/materialdesignicons.min.css">-->
    <!--    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Icons">-->
    <!--    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css">-->
    <!--    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/vuetify@3.3.4/dist/vuetify.min.css">-->
    <style scoped>
        [v-cloak] {
            display: none;
        }


    </style>
</head>

<body>
<div id="app" v-cloak>
    {{ message }}
    <v-app id="inspire">

        <v-app-bar class="bg-pink-lighten-3" rounded scroll-behavior="collapse" scroll-threshold="119">
            <v-app-bar-nav-icon @click="drawer = !drawer"></v-app-bar-nav-icon>

            <v-toolbar-title>{{webName}}</v-toolbar-title>
            <v-btn icon>
                <v-icon>mdi-magnify</v-icon>
            </v-btn>
            <v-btn icon>
                <v-icon icon="mdi-brightness-4"></v-icon>
            </v-btn>
        </v-app-bar>

        <v-navigation-drawer
                v-model="drawer"
                temporary
                class="bg-pink-lighten-4"
        >
            <!--  -->

            <v-list v-model:opened="open">


                <div
                        v-for="({title, icon,submenu, url}, i) in menu"
                        :key="i"
                        class="font-weight-black"
                >
                    <v-list-item v-if="!submenu||submenu.length<=1"
                                 :prepend-icon="icon"
                                 :title="title"
                                 :value="title"
                                 @click="goUrl(url)"
                    >

                    </v-list-item>

                    <v-list-group v-else :value="title">
                        <template v-slot:activator="{ props }">
                            <v-list-item
                                    v-bind="props"
                                    :title="title"
                                    :prepend-icon="icon"
                            ></v-list-item>
                        </template>
                        <v-list-item
                                v-for="({title, icon,url}, i) in submenu"
                                :key="i"
                                :title="title"
                                :prepend-icon="icon"
                                :value="title"
                                @click="goUrl(url,true)"
                        ></v-list-item>
                    </v-list-group>
                </div>

            </v-list>

            <template v-slot:append>
                <div class="pa-2 ">.
                    <v-row>
                        <v-col>
                            <v-btn block
                                   class="bg-pink-lighten-3"
                                   @click="goUrl(githubUrl)"
                            >
                                <v-icon icon="mdi-github" class="align-center"></v-icon>
                                源码
                            </v-btn>
                        </v-col>
                        <v-col>
                            <v-btn block
                                   class="bg-pink-lighten-3 "
                                   @click="goUrl('/about',true)"
                            >
                                <v-icon icon="mdi-information-outline" class="align-center"></v-icon>
                                关于
                            </v-btn>
                        </v-col>
                    </v-row>

                </div>
            </template>
        </v-navigation-drawer>

        <v-main class="bg-pink-green">

            <div
                    class="ma-6 h-90  bg-white-50"
            >
                <h4 class="text-xl-h4 text-sm-h4 text-md-h4 text-lg-h4 text-h5 font-weight-bold pa-13 text-center text-red">
                    404 Not Found
                </h4>
                <p class="text-center ">
                    网页找不到咯
                </p>
            </div>

        </v-main>

        <v-footer class="flex-column bg-teal-accent-3">
            <div class="text-center">
                powered by
                <strong>oli-fa</strong>
            </div>
        </v-footer>
    </v-app>

</div>
<!--<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/vuetify@3.3.4/dist/vuetify.min.js"></script>-->
<script src="./js/vue3.global.js"></script>
<script src="./js/vuetify.min.js"></script>


<script>
    const {
        createApp
    } = Vue
    const {
        createVuetify
    } = Vuetify

    const vuetify = createVuetify({
        theme: {
            defaultTheme: 'light',
            variables: {
                'bg-pink-color': '#00f',
            }
        }
    })

    const app = createApp({
        data: () => ({
            githubUrl: "https://github.com/ifwlzs/CanCanWorldUI",
            drawer: null,
            webName: "CanCanWorld",
            categoryList: [
                "1",
                "12",
                "123",
                "1234",
                "12345",
                "123456",
                "1234567"
            ],
            tagList: [
                "天",
                "地",
                "玄",
                "黄"
            ],
            open: ['首页'],
            menu: [
                {
                    'title': '首页',
                    'icon': 'mdi-home',
                    'submenu': [],
                    'url': 'https://www.baidu.com',
                },
                {
                    'title': '网盘',
                    'icon': 'mdi-cloud',
                    'submenu': [],
                    'url': '/pan',
                },
                {
                    'title': '影视类',
                    'icon': 'mdi-play-circle',
                    'submenu': [
                        {
                            'title': '字幕组/电视剧',
                            'icon': 'mdi-television-classic',
                            'url': '/film#t1',
                        },
                        {
                            'title': '电影',
                            'icon': 'mdi-movie-search',
                            'url': '/film#t2',
                        },
                    ],
                    'url': '/film',
                },
            ],
            webList: {
                '网盘': [
                    {
                        'webName': '来搜一下',
                        'webIcon': 'mdi-help-circle-outline',
                        'webInfo': '暂无简介',
                        'webUrl': 'https://www.laisoyixia.com/',
                    },
                ],
                '字幕组/电视剧': [
                    {
                        'webName': '笑神本部',
                        'webIcon': 'mdi-help-circle-outline',
                        'webInfo': '日综',
                        'webUrl': 'https://owarai.netlify.app/',
                    },
                ],
            },
        }),
        methods: {
            goUrl(event, local = false) {
                //console.log(event); //获取点击的参数(url地址)
                if (local) {
                    window.location.href = event; //在本页面打开外部链接
                } else {
                    window.open(event, "_blank"); //在新窗口打开外链接
                }
            },

        }
    })

    app.use(vuetify).mount('#app')

</script>
<style scoped>


</style>


</body>

</html>